<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Game Shop</title>
  </head>

  <body>

    <nav>
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/games">View All Games</a> </li>
        <li> <a href="/games/new">Add New Game</a> </li>
        <li> <a href="/publishers">View All Publishers</a> </li>
        <li> <a href="/publishers/new">Add New Publisher</a> </li>
      </ul>
    </nav>






    <%= yield %>



  </body>
</html>
