<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Game Shop</title>

    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/button.css">
    <link rel="stylesheet" type="text/css" href="/form.css">
  </head>

  <body>

    <nav>
      <ul>
        <li class="nav-item"> <a href="/">Home</a> </li>
        <li class="nav-item"> <a href="/games">View All Games</a> </li>
        <li class="nav-item"> <a href="/games/new">Add New Game</a> </li>
        <li class="nav-item"> <a href="/publishers">View All Publishers</a> </li>
        <li class="nav-item"> <a href="/publishers/new">Add New Publisher</a> </li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
