.button, button {
  font-family: 'K2D', sans-serif;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  background-color: DimGrey;
  cursor: pointer;
  width: 160px;
  float: left;
}

.button {
  margin: 5px 0px 5px 5px;
}

button {
  margin: 5px 5px 5px 0px;
}

button a {
  text-decoration: none;
  color: inherit;
}

.button:hover, button:hover {
  background-color: #4B4F4A;
}
