.button, button {
  font-family: 'K2D', sans-serif;
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  color: red;
  background-color: black;
  cursor: pointer;
  width: 150px;
  margin: 5px 10px;
  float: left;
}

button a {
  text-decoration: none;
  color: inherit;
}
