/* Form-----------------------------------------------------------------------*/
.publisher, .platform {
  width: 325px;
  background-color: white;
  padding: 10px 10px 40px 10px;
  border: 2px solid grey;
  border-radius: 15px;
}

.game {
  width: 350px;
  background-color: white;
  padding: 10px 10px 40px 10px;
  border: 2px solid grey;
  border-radius: 15px;
}

/* Input----------------------------------------------------------------------*/
select {
 width: 204px;
 font-size: 0.9em;
 font-family: 'K2D', sans-serif;
 border: 1px solid black;
 display: inline-block;
 float: right;
}

input {
  width: 200px;
  font-size: 0.9em;
  font-family: 'K2D', sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  float: right;
}

textarea {
  border-radius: 5px;
  float: right;
  width: 345px;
  margin-bottom: 15px;
}

.checkbox {
  margin: 10px 0px 0px 5px;
  font-style: italic;
}

label {
  font-weight: bold;
}
