/* Nav Bar------------------------------------*/
nav ul {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}

.nav-item {
  display: inline-block;
  padding: 15px;
}

.nav-item a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: AliceBlue;
  border: 1px solid black;
  border-radius: 25px;
  padding: 3px 10px;
}

/* Body and Headings------------------------------------*/
html {
  background: black url("/images/super_mario.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'K2D', sans-serif;
}

.home {
  text-align: center;
  margin-bottom: 340px;
}

.home h1 {
  font-size: 3em;
}

.home a {
  text-decoration: underline;
  color: inherit;
}

.index, .show {
  margin-bottom: 100px;
}

/* Stock alerts------------------------------------*/
td.low-stock {
  background-color: yellow;
  text-align: center;
}

td.out-of-stock {
  background-color: red;
  text-align: center;
}

.home .low-stock {
  color: white;
  background-color: orange;
  width: 500px;
  display: inline-block;
  border-radius: 15px;
  padding: 2px 0px 2px 0px;
}

.home .out-of-stock {
  color: white;
  background-color: red;
  width: 500px;
  display: inline-block;
  border-radius: 15px;
  padding: 2px 0px 2px 0px;
}
