/* Nav Bar------------------------------------*/
nav {

}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}

.nav-item {
  display: inline-block;
  padding: 15px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  background-color: grey;
  border: none;
  border-radius: 25px;
  padding: 3px 10px;
}

/* Body and Headings------------------------------------*/
body {
  font-family: 'K2D', sans-serif;
}

.home {
  text-align: center;
}

body.home {
  background-color: yellow;
}

/* Stock alerts------------------------------------*/
td.low-stock {
  background-color: yellow;
  text-align: center;
}

td.out-of-stock {
  background-color: red;
  text-align: center;
}

.home .low-stock {
  color: orange;
}

.home .out-of-stock {
  color: red;
}

.home a {
  text-decoration: underline;
  color: inherit;
}
