
td {
  padding: 10px 25px 0px 5px;
  border-bottom: 1px solid black;
  text-align: center;
}

th {
  text-align: center;
  padding: 10px 25px 10px 5px;
  border-bottom: 5px solid black;
}

table {
  border-collapse: collapse;
  background-color: white;
}

td a {
  text-decoration: none;
}

td a:hover {
  background-color: DarkGrey;
  padding: 0px 5px;
}

.table-show {
  width: 340px;
  background-color: white;
  padding: 5px 5px 40px 5px;
  border: 2px solid grey;
  border-radius: 15px;
}

.index-publisher {
  width: 500px;
  background-color: white;
  padding: 10px 10px 15px 10px;
  border: 2px solid grey;
  border-radius: 15px;
}

.index-platform {
  width: 150px;
  background-color: white;
  padding: 10px 10px 15px 10px;
  border: 2px solid grey;
  border-radius: 15px;
}

.index-game {
  width: 1220px;
  background-color: white;
  padding: 10px 10px 30px 10px;
  border: 2px solid grey;
  border-radius: 15px;
}

/* Stock alerts---------------------------------------------------------------*/
tr.low-stock {
  background-color: #EFA94F;
  text-align: center;
}

tr.out-of-stock {
  background-color: #B90B0B;
  text-align: center;
  color: white;
}
