/* Table and Headers----------------------------------------------------------*/

table {
  border: 2px solid grey;
  border-collapse: collapse;
  background-color: white;
}

th {
  text-align: center;
  padding: 5px 25px 5px 0px;
  border-bottom: 5px solid black;
}

tr {
  padding: 5px;
  height: 10px;
}

/* Table Data-----------------------------------------------------------------*/

td {
  padding: 10px 25px 10px 10px;
  border-bottom: 1px solid #F2F4F4;
  text-align: left;
}

td a {
  text-decoration: underline;
  color: inherit;
}

/* Stock alerts---------------------------------------------------------------*/

tr.low-stock {
  background-color: #EFA94F;
  text-align: center;
}

tr.out-of-stock {
  background-color: #B90B0B;
  text-align: center;
  color: white;
}
