<h1>Add New Game</h1>

<form action="/games" method="post">

  <label for="title-field">Title:</label>
  <input type="text" name="title" id="title-field">
  <br>
  <br>
  <label for="description-field">Description:</label>
  <input type="text" name="description" id="description-field">
  <br>
  <br>
  <label for="stock-field">Stock:</label>
  <input type="number" name="stock_quantity" id="stock-field" min="1">
  <br>
  <br>
  <label for="cost-field">Cost: £</label>
  <input type="number" name="buying_cost" id="cost-field" min="1">
  <br>
  <br>
  <label for="price-field">Price: £</label>
  <input type="number" name="selling_price" id="price-field" min="1">
  <br>
  <br>
  <label for="publisher_select">Select Publisher:</label>
    <select name="publisher_id" id="publisher_select">
      <% @publishers.each do |publisher| %>
        <option value="<%= publisher.id %>"><%= publisher.name %></option>
      <% end %>
    </select>
  <br>
  <br>
  <input type="submit" value="Add Game">

</form>
