<section class="edit">

  <h1>Edit Platform Details</h1>

  <form action="/platforms/<%= @platform.id %>" method="post" class="platform">

    <label for="name-field">Platform Name:</label>
    <input type="text" name="name" id="name-field" value="<%= @platform.name %>">

    <br><br>

    <input type="submit" value="Submit Changes" class="button">

  </form>

</section>
