<section class="index">

  <h1>All Platforms</h1>

  <button type="button">
    <a href="/platforms/new">Add New Platform</a>
  </button>

  <br><br>

  <section class="index-platform">

    <table>
      <tr>
        <th>Platform</th>
      </tr>

      <% for platform in @platforms %>
      <tr>
        <td><a href="/platforms/<%= platform.id %>"><%= platform.name %></a></td>
      </tr>
      <% end %>
    </table>

  </section>

</section>
