<section class="new">

  <h1>Add New Platform</h1>

  <form action="/platforms" method="post" class="platform">

    <label for="name-field">Platform Name:</label>
    <input type="text" name="name" id="name-field">

    <br><br>

    <input type="submit" value="Add" class="button">

  </form>

</section>
