<section class="show">

  <h1><%= @platform.name %></h1>

  <table>
    <tr>
      <td><strong>Games:</strong></td>
      <td>
        <% for game in @platform.game %>
          <%= game.title%>
        <% end %>
      </td>
    </tr>

  </table>

  <br>

  <button type="button">
    <a href="/platforms/<%= @platform.id %>/edit">Edit Platform</a>
  </button>

  <form action="/platforms/<%= @platform.id %>/delete" method="POST"><input type="submit" value="Delete" class="button"></form>

</section>
