<h1>All Publishers</h1>

<button type="button">
  <a href="/publishers/new">Add New Publisher</a>
</button>

<br><br>



<table>
  <tr>
    <th>Publisher Name</th>
    <th>Contact Name</th>
    <th>Contact Email</th>
  </tr>

  <% for publisher in @publishers %>
    <tr>
      <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name %></a></td>
      <td><%= publisher.contact_name %></td>
      <td><%= publisher.contact_email %></td>
    </tr>
  <% end %>
</table>
