<h1>Add New Publisher</h1>

<form action="/publishers" method="post" class="publisher">

  <label for="name-field">Publisher:</label>
  <input type="text" name="name" id="name-field">

  <br><br>

  <label for="contact-name-field">Contact Name:</label>
  <input type="text" name="contact_name" id="contact-name-field">

  <br><br>

  <label for="contact-email-field">Contact Email:</label>
  <input type="email" name="contact_email" id="contact-email-field">

  <br><br>

  <input type="submit" value="Add" class="button">

</form>
